# 每天00:00执行

name: Start

on:
  push:
  gollum:
  schedule:
    - cron: '36 9 * * *'
  workflow_dispatch:

jobs:
  AutoSign:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          mvn compile exec:java -Dexec.mainClass="stand.ronghui.Main" -Dexec.args="${USERNAME} ${PASSWORD}"
